altair==4.1.0
astor==0.8.1
async-generator==1.10
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
base58==2.1.0
blinker==1.4
boto3==1.18.30
botocore==1.21.30
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
chembl-webresource-client==0.10.1
click==7.1.2
cycler==0.10.0
easydict==1.9
entrypoints==0.3
enum-compat==0.0.3
gitdb==4.0.7
GitPython==3.1.18
grequests==0.6.0
importlib-resources==5.2.2
ipywidgets==7.6.3
jedi==0.17.0
jmespath==0.10.0
jupyterlab-widgets==1.0.0
Keras==2.3.1
lazypredict==0.2.9
lightgbm==2.3.1
mistune==0.8.4
more-itertools==8.8.0
olefile==0.46
padelpy==0.1.10
pluggy==0.13.1
protobuf==3.18.0
py==1.10.0
pyarrow==5.0.0
pycairo==1.20.1
pydeck==0.6.2
pyreadline==2.1
pytest==5.4.3
pywin32==301
PyYAML==5.4.1
requests-cache==0.4.13
s3transfer==0.5.0
scipy==1.5.4
smmap==4.0.0
streamlit==1.0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
toml==0.10.2
toolz==0.11.1
tqdm==4.56.0
traitlets==4.3.3
tzdata==2021.1
tzlocal==3.0
validators==0.18.2
watchdog==2.1.5
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.1.1
xlrd==1.2.0
zope.event==4.5.0
